.TituloPagina {
    text-align: center;
    margin-bottom: 10px;
    font-size: 28px;
    color: #025cf8;
    font-weight: 900;
  }

    /* Título e Descrição Centralizados */
    .DescricaoPagina {
      text-align: center;
      margin-bottom: 10px;
    }
