
  /* Modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background-color: #F7FCFF;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    height: 230px;
    text-align: center;
}

.close {
    position: absolute;
    color: white;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.titulo_formulario{
   color: #D9D2FE;
   font-weight: 900;
   font-size: 38px;
}

.label_form{
  color: black;
   font-weight: 800;
   font-size: 18px;
}

.input_form{
   background-color: #F7F6D1;
   width: 30%;
}

  .botaoCadastro_formulario{
    background-color: #D9D2FE;
    border: none;
    color: black;
    padding: 15px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-weight: 300;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }

  .botaoCadastro_formulario:hover{
    background-color: #5449DE;
    color: white;
    font-weight: 300;
  }

  /* AQUI aumenta o tamanho do Ícone */
.botaoCadastro_formulario i {
  font-size: 1.5rem;  /* Aumenta o ícone. Se quiser ainda maior, mude para 1.8rem ou 2rem */
  margin-right: 0;    /* Zera a margem antiga, já que não tem mais texto do lado */
}

