.tabela-padrao {
  border-collapse: collapse;
  width: 100%;
  /* Ocupa a largura disponível... */
    max-width: 600px;
  /* A tabela preenche a coluna esquerda */
  margin: 0;
  /* Remove margens para não desalinharem os botões */
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}